parameters:
  autoload_files:
    - vendor/bin/.phpunit/phpunit-6.5/vendor/autoload.php
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  paths:
    - %currentWorkingDirectory%/tests
  excludes_analyse:
    - tests/bootstrap.php